@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/type' as *;
@use '@carbon/react/scss/breakpoint' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/grid';

@use 'src/global/styles/global_mixins' as *;
@use './overrides.scss';

.news-feed__banner {
  background-color: $background;
  top: $spacing-09;
  position: sticky;
  z-index: 1;
}

.news-feed__r2 {
  margin-top: rem(-40px);
  position: sticky;
}

.tabs-group-row-and-search-filter {
  background-color: $background;

  display: flex;
  flex-direction: row;

  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
  padding-right: $spacing-05;

  position: sticky;
  top: 274px;
  z-index: 7000;
}

.tabs-group {
  @include burmese-font;
}

.expand-button {
  @include burmese-font;
  margin-right: $spacing-05;
}

.search-box {
  @include burmese-font;
  background-color: $field-02;
}

.cds--search-input {
  background-color: $field-02;
}

.footer__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
  padding-left: $spacing-07;
  background-color: $background;
  @include burmese-font;
}

.news-feed__banner,
.news-feed__r2,
.footer__r1 {
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.cds--group {
  //padding: $spacing-10 0 $spacing-10;
  min-height: 75vh;
}

.cds--grid {
  @include grid.flex-grid();
}

.footer__app-label {
  @include type-style('heading-02');
}

.footer__link {
  @include type-style('heading-02');
}

.story-container {
  columns: 4;
}

.story {
  display: inline-flex;
}
